# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*

# Editor directories and files
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Environment files
.env
.env.local
.env.*.local

# TypeScript cache
*.tsbuildinfo

#agent
.github
